.menu-menu-1-container{
    height: 50px;
    background-color: rgb(33, 34, 38);
    display: flex;
    align-items:center;
    z-index: 11;
    margin-top: -70px;
    position: fixed;
    width: 100%;
    font-family: 'Oswald';
}
.css-menu{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    margin:0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
.css-nav{

}
.menu-item{
    display: flex;
    float:right;
    margin-left: 5px;
    margin-right: 5px;
}
.menu-item:hover>a{
    color:#3db2f5;
}
.menu-item>a{
    color:$tertiary;
    text-decoration: none;
}
.menu-item-home{
    font-size: larger;
}
.current-menu-item>a{
    color: $primary;
}
