.post
{    

    &__body
    {
        background-color: $primary;
        margin-top: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        font-family: 'Open Sans';
    }   
    &__body h1{
        font-family: 'Oswald';
        color: $quatenary;
        
    }
    &__body a:link{
        text-decoration: none;
        
    }
}