.post--Employee
{

    &__body{
        text-align: center;
        background-color: $secondary;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        width: 32%;
        font-family: 'Open'; 
        overflow: hidden;

    }
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__body img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        
        
    }

    &__body img:hover  {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    

    &__body h1{
        font-family: 'Oswald';
        color: $quatenary;
        line-height: 30px;
        
    }
    &__body a:link{
        text-decoration: none;
    }
}