.container {
  width: 70%;
  max-width: 2160px;
  margin-left: auto;
  margin-right: auto; }
  .container--sidebar {
    width: 15%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: table;
    flex-direction: row;
    flex-grow: 2; }

/*# sourceMappingURL=container.css.map */
